<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Drivers</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"
          crossorigin="anonymous" />
</head>
<body>
<div class="container mt-5">
    <div th:each="c : ${car}" class="alert alert -info mt-2">
        <h3 th:text="${c.carNumber}"></h3>
        <p th:text="${c.carModel}"></p>
        <h3 th:text="${c.carColor}"></h3>
        <form th:action="'/admin/car-tariff/' + ${c.id}" method="post">
            <button class="btn btn-warning" type="submit">Change</button>
        </form>
    </div>
</div>
</body>
</html>