<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Drivers</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"
          crossorigin="anonymous" />
</head>
<body>
<div class="container mt-5">
    <div th:each="d : ${user}" class="alert alert -info mt-2">
        <div class="alert alert -info mt-2">
            <p th:text="${d.firstName} + ' ' + ${d.lastName}"></p>
            <p th:text="${d.username}"></p>
            <p th:text="${d.phoneNumber}"></p>
            <p th:text="${d.driverIdNumber}"></p>
            <p th:text="${d.driverLicenseNumber}"></p>
            <p th:text="${d.licenseExpDate}"></p>
            <form th:action="'/admin/driver-status/' + ${d.id}" method="post">
                <button class="btn btn-warning" type="submit">Active</button>
            </form>
            <form th:action="'/admin/delete-driver/' + ${d.id}" method="post">
                <button class="btn btn-warning" type="submit">Delete</button>
            </form>
        </div>
        <div th:each="c : ${car}" class="alert alert -info mt-2">
            <p th:text="${c.carNumber}"></p>
            <p th:text="${c.carModel}"></p>
            <p th:text="${c.carColor}"></p>
            <a th:href="'/admin/' + ${d.id} + '/' + ${c.id} + '/change-tariff'" class="btn btn-warning">Change Tariff</a><br><br>
        </div>
    </div>
</div>
</body>
</html>