<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Drivers</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"
          crossorigin="anonymous" />
    <link rel="stylesheet"  href="/css/style.css">
</head>
<body>
<header>
    <ul th:each="a : ${admin}">
        <li><a th:href="'/' + ${a.username} + '/all-users'">All Users</a></li>
        <li><a th:href="'/' + ${a.username} + '/all-drivers'">All Drivers</a></li>
        <li><a th:href="'/' + ${a.username} + '/all-orders'">All Orders</a></li>
        <li><a th:href="'/admin/' + ${a.username}">Admin Page</a></li>
    </ul>
</header>
<div class="container mt-5">
    <div th:each="o : ${order}" class="alert alert -info mt-2">
        <table>
            <tr>
                <th>Address From</th>
                <td><p th:text="${o.addressFrom}"></p></td>
            </tr>
            <tr>
                <th>Address To</th>
                <td><p th:text="${o.addressTo}"></p></td>
            </tr>
            <tr>
                <th>Price</th>
                <td><p th:text="${o.orderPrice}"></p></td>
            </tr>
            <tr>
                <th>Distance</th>
                <td><p th:text="${o.orderDistance}"></p></td>
            </tr>
            <tr>
                <th>Start Time</th>
                <td><p th:text="${o.orderStartTime}"></p></td>
            </tr>
            <tr>
                <th>End Time</th>
                <td><p th:text="${o.orderEndTime}"></p></td>
            </tr>
            <tr>
                <th>Status</th>
                <td><p th:text="${o.orderStatus}"></p></td>
            </tr>
            <tr>
                <th>Tariff</th>
                <td><p th:text="${o.tariff}"></p></td>
            </tr>
            <tr>
                <th>Customer</th>
                <td><p th:text="${o.user.getFirstName} + ' ' + ${o.user.getLastName}"></p></td>
            </tr>
            <tr>
                <th>Driver</th>
                <td><p th:text="${o.driver.getFirstName} + ' ' + ${o.driver.getLastName}"></p></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>