<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cars</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <ul th:each="d : ${driver}">
        <li><a th:href="'/users/' + ${d.username} + '/car'">Car</a></li>
        <li><a th:href="'/users/' + ${d.username} + '/avail-orders'">Available Orders</a></li>
        <li><a th:href="'/users/' + ${d.username} + '/driver-history'">History of Orders</a></li>
        <li><a th:href="'/users/' + ${d.username} + '/current-order'">Current Order</a></li>
        <li><a th:href="'/users/' + ${d.username} + '/driver'">Driver Page</a></li>
        <li><a th:href="'/users/' + ${d.username}">User Page</a></li>
        <li><a href="/auth/logout">Log Out</a></li>
    </ul>
</header>
<div class="container mt-5">
    <div th:each="d : ${driver}" class="alert alert -info mt-2">
        <div th:each="c : ${car}" class="alert alert -info mt-2">
            <table>
                <tr>
                    <th>Car Number</th>
                    <td><p th:text="${c.carNumber}"></p></td>
                </tr>
                <tr>
                    <th>Car Model</th>
                    <td><p th:text="${c.carModel}"></p></td>
                </tr>
                <tr>
                    <th>Car Color</th>
                    <td><p th:text="${c.carColor}"></p></td>
                </tr>
                <tr>
                    <th>Tariff</th>
                    <td><p th:text="${c.tariff}"></p></td>
                </tr>
                <tr>
                    <td>
                        <a th:href="'/users/' + ${d.username} + '/' + ${c.id} + '/edit-car'" class="btn btn-warning">Edit</a><br><br>
                    </td>
                    <td>
                        <form th:action="'/users/' + ${d.username} + '/' + ${c.id} + '/delete'" method="post">
                            <button class="btn btn-warning" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>