<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Edit Car</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <ul th:each="d : ${driver}">
        <li><a th:href="'/users/' + ${d.username} + '/car'">Car</a></li>
        <li><a th:href="'/users/' + ${d.username} + '/avail-orders'">Available Orders</a></li>
        <li><a th:href="'/users/' + ${d.username} + '/driver-history'">History of Orders</a></li>
        <li><a th:href="'/users/' + ${d.username} + '/current-order'">Current Order</a></li>
        <li><a th:href="'/users/' + ${d.username} + '/driver'">Driver Page</a></li>
        <li><a th:href="'/users/' + ${d.username}">User Page</a></li>
        <li><a href="/auth/logout">Log Out</a></li>
    </ul>
</header>
<div class="container mt-5">
    <div th:each="d : ${driver}" class="alert alert -info mt-2">
        <div th:each="c : ${car}" class="alert alert -info mt-2">
            <form class="form-signin" method="post" th:action="'/users/' + ${d.username} + '/' + ${c.id} + '/car-edit'">
                <h2 class="form-signin-heading">Edit Car</h2>
                <table>
                    <tr>
                        <th><label for="carnumber" class="sr-only">Car Number</label></th>
                        <td>
                            <input type="text" id="carnumber" name="carNumber" th:value="${c.carNumber}" class="form-control" placeholder="Car Number" required autofocus>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="carmodel" class="sr-only">Car Model</label></th>
                        </td>
                            <input type="text" id="carmodel" name="carModel" th:value="${c.carModel}" class="form-control" placeholder="Car Model" required autofocus>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="carcolor" class="sr-only">Car Color</label></th>
                        </td>
                            <input type="text" id="carcolor" name="carColor" th:value="${c.carColor}" class="form-control" placeholder="Car Color" required autofocus>
                        </td>
                    </tr>
                </table>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Refresh</button>
            </form>
        </div>
    </div>
</div>
</body>

</html>