<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Users</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <ul th:each="u : ${user}">
        <li><a th:href="'/users/' + ${u.username} + '/add-order'">Add Order</a></li>
        <li><a th:href="'/users/' + ${u.username} + '/history'">My Orders</a></li>
        <li><a th:href="'/users/' + ${u.username} + '/order-page'">Current Order</a></li>
        <li><a th:href="'/users/' + ${u.username} + '/driver'">Driver Page</a></li>
        <li><a th:href="'/users/' + ${u.username}">User Page</a></li>
        <li><a href="/auth/logout">Log Out</a></li>
    </ul>
</header>
<div class="container mt-5">
    <h2 th:text="${greeting}"></h2>
    <div th:each="u : ${user}" class="alert alert -info mt-2">
        <table>
            <tr>
                <th>Username</th>
                <td><p th:text="${u.username}"></p></td>
            </tr>
            <tr>
                <th>First Name</th>
                <td><p th:text="${u.firstName}"></p></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><p th:text="${u.lastName}"></p></td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td><p th:text="${u.phoneNumber}"></p></td>
            </tr>
            <tr>
                <td>
                    <a th:href="'/users/' + ${u.username} + '/edit-page'" class="btn btn-warning">Edit</a><br><br>
                </td>
                <td>
                    <form th:action="'/users/' + ${u.id} + '/delete'" method="post">
                        <button class="btn btn-warning" type="submit">Delete</button>
                    </form><br><br>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>