<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Drivers</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <ul th:each="u : ${user}">
        <li><a th:href="'/users/' + ${u.username} + '/add-order'">Add Order</a></li>
        <li><a th:href="'/users/' + ${u.username} + '/history'">My Orders</a></li>
        <li><a th:href="'/users/' + ${u.username} + '/order-page'">Current Order</a></li>
        <li><a th:href="'/users/' + ${u.username} + '/driver'">Driver Page</a></li>
        <li><a th:href="'/users/' + ${u.username}">User Page</a></li>
        <li><a href="/auth/logout" type="submit">Log Out</a></li>
    </ul>
</header>
<div class="container mt-5">
    <div th:each="u : ${user}" class="alert alert -info mt-2">
        <div th:each="o : ${order}" class="alert alert -info mt-2">
            <span th:text="${success}"></span>
            <span th:text="${failed}"></span>
            <table>
                <tr>
                    <th>Address From</th>
                    <td><p th:text="${o.addressFrom}"></p></td>
                </tr>
                <tr>
                    <th>Address To</th>
                    <td><p th:text="${o.addressTo}"></p></td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td><p th:text="${o.orderPrice}"></p></td>
                </tr>
                <tr>
                    <th>Distance</th>
                    <td><p th:text="${o.orderDistance}"></p></td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td><p th:text="${o.orderStatus}"></p></td>
                </tr>
            </table>
            <form th:action="'/users/' + ${u.username} + '/cancel-order'" method="post">
                <button class="btn btn-warning" type="submit">Cancel</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>