<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>History</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"
          crossorigin="anonymous" />
</head>
<body>
<div class="container mt-5">
    <h1>Orders</h1>
    <div th:each="u : ${user}" class="alert alert -info mt-2">
        <div th:each="o : ${orders}" class="alert alert -info mt-2">
            <p th:text="${o.addressFrom}"></p>
            <p th:text="${o.addressTo}"></p>
            <p th:text="${o.price}"></p>
            <p th:text="${o.distance}"></p>
            <a th:href="'/users/' + ${u.username} + '/' + ${order.id}" class="btn btn-warning">Details</a>
        </div>
    </div>
</div>
</body>
</html>