<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Orders</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <ul th:each="d : ${driver}">
        <li><a th:href="'/users/' + ${d.username} + '/car'" class="btn btn-warning">Car</a></li>
        <li><a th:href="'/users/' + ${d.username} + '/avail-orders'" class="btn btn-warning">Available Orders</a></li>
        <li><a th:href="'/users/' + ${d.username} + '/driver-history'" class="btn btn-warning">History of Orders</a></li>
        <li><a th:href="'/users/' + ${u.username} + '/current-order'">Current Order</a></li>
        <li><a th:href="'/users/' + ${u.username} + '/driver'">Driver Page</a></li>
        <li><a th:href="'/users/' + ${u.username}">User Page</a></li>
        <li><a href="/auth/logout">Log Out</a></li>
    </ul>
</header>
<div class="container mt-5">
    <div th:each="u : ${user}" class="alert alert -info mt-2">
        <h3>You need to add car to get the orders</h3>
        <a th:href="'/users/' + ${u.username} + '/driver'" class="btn btn-warning">Go Back</a><br><br>
    </div>
</div>
</body>
</html>