<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Edit Driver</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <ul th:each="d : ${driver}">
        <li><a th:href="'/users/' + ${d.username} + '/car'">Car</a></li>
        <li><a th:href="'/users/' + ${d.username} + '/avail-orders'">Available Orders</a></li>
        <li><a th:href="'/users/' + ${d.username} + '/driver-history'">History of Orders</a></li>
        <li><a th:href="'/users/' + ${d.username} + '/current-order'">Current Order</a></li>
        <li><a th:href="'/users/' + ${d.username} + '/driver'">Driver Page</a></li>
        <li><a th:href="'/users/' + ${d.username}">User Page</a></li>
        <li><a href="/auth/logout">Log Out</a></li>
    </ul>
</header>
<div class="container mt-5">
    <div th:each="d : ${driver}" class="alert alert -info mt-2">
        <form class="form-signin" method="post" th:action="'/users/' + ${d.username} + '/edit-driver'">
            <h2 class="form-signin-heading">Edit</h2>
            <span th:text="${failed}"></span>
            <table>
                <tr>
                    <th><label for="iin" class="sr-only">Individual Identification Number</label></th>
                    <td>
                        <input type="text" id="iin" name="driverIdNumber" th:value="${d.driverIdNumber}" class="form-control" placeholder="Individual Identification Number" required>
                    </td>
                </tr>
                <tr>
                    <th><label for="license" class="sr-only">Driving License Number</label></th>
                    <td>
                        <input type="text" id="license" name="driverLicenseNumber" th:value="${d.driverLicenseNumber}" class="form-control" placeholder="Driving License Number" required>
                    </td>
                </tr>
                <tr>
                    <th><label for="expdate" class="sr-only">Driving License Expiration Date</label></th>
                    <td>
                        <input type="date" id="expdate" name="licenseExpDate" th:value="${d.licenseExpDate}" class="form-control" placeholder="Driving License Expiration Date" required>
                    </td>
                </tr>
            </table>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Refresh</button>
        </form>
    </div>
</div>
</body>

</html>